<h2>Template</h2>
<hr>

<ul class="list-group">
    <li *ngFor=" let opcion of templateMenu"
        class="list-group-item"
        [routerLink] = "[opcion.ruta]"
        routerLinkActive="active">
        {{ opcion.texto }}
    </li>
    
</ul>

<h2 class="mt-3">Reactive</h2>
<hr>

<ul class="list-group">
    <li *ngFor=" let opcion of reactiveMenu"
        class="list-group-item"
        [routerLink] = "[opcion.ruta]"
        routerLinkActive="active">
        {{ opcion.texto }}
    </li>
    
</ul>

<h2 class="mt-3">Validaciones</h2>
<hr>

<ul class="list-group">
    <li *ngFor=" let opcion of authMenu"
        class="list-group-item"
        [routerLink] = "[opcion.ruta]"
        routerLinkActive="active">
        {{ opcion.texto }}
    </li>
    
</ul>